@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #646265;
}

article a,
article a:visited,
article a:hover,
article a:active {
  color: #8c0082 !important;
}

.dark article a,
.dark article a:visited,
.dark article a:hover,
.dark article a:active {
  color: #F26C00 !important;
}

h1,
h3 {
  font-weight: 600;
}

h2 {
  font-weight: 400;
}

h4,
h5,
h6,
h7 {
  font-weight: 500;
}

h1 {
  font-size: 48px;
  line-height: 58px;
}

h2 {
  font-size: 32px;
  line-height: 38px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}

h5,
h6,
h7 {
  font-size: 18px;
  line-height: 24px;
}

nav .nextra-scrollbar .nx-text-primary-600 {
  color: #8c0082;
  background: linear-gradient(99deg, #ffc500 -44.02%, #dc2223 15.24%, #720096 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 13px;
  font-weight: 600;
  line-height: 21px; /* 161.538% */
}

.dark nav .nextra-scrollbar .nx-text-primary-600 {
  color: #F26C00;
  background: linear-gradient(328deg, #FB6E00 0%, #FFC500 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 13px;
  font-weight: 600;
  line-height: 21px; /* 161.538% */
}

nav .nextra-scrollbar {
  font-size: 13px;
  color: #646265;
  font-weight: 600;
  line-height: 21px;
}

.nextra-sidebar-container .active > a {
  border-radius: 4px;
  background: linear-gradient(
    104deg,
    rgba(255, 197, 0, 0.12) 0%,
    rgba(220, 34, 35, 0.12) 41.15%,
    rgba(114, 0, 150, 0.12) 100%
  );
  color: #231F20;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}

.dark .nextra-sidebar-container .active > a {
  background: linear-gradient(104deg, #FFC500 0%, #DC2223 41.15%, #720096 100%);
  color: #F9F9F9;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
}

.nextra-card:hover {
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  background: linear-gradient(
    104deg,
    rgba(255, 197, 0, 0.2) 0%,
    rgba(220, 34, 35, 0.2) 41.15%,
    rgba(114, 0, 150, 0.2) 100%
  );
}

.dark .nextra-card:hover {
  border-radius: 4px;
  background: #BAB8BB;
}

.nextra-code-block pre {
  background-color: #f9f9f9 !important;
}

html.dark .nextra-code-block pre {
  background-color: #3A3536 !important;
}

.nextra-toc,
.nextra-toc * {
  font-weight: 500 !important;
}

.external-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}

.external-link-text {
  margin-right: 8px;
}

html.dark body {
  background-color: #231F20 !important;
}

html.dark div.nx-sticky.nx-bottom-0 {
  background-color: #231F20 !important;
}

html.dark div.nextra-nav-container {
  background-color: #231F20 !important;
}

.dark .nx-sticky {
  box-shadow: none !important;
}
