:root {
    --brand-black: #231F20;
    --base-gray: #646265;
}

body {
    color: var(--base-gray);
}

article a, 
article a:visited, 
article a:hover, 
article a:active {
    color: #8C0082 !important;
}

h1 {
  font-family: Inter;
  font-size: 48px;
  line-height: 58px;
  font-weight: 600;
  letter-spacing: 0px;
  color: var(--brand-black);
}

h2 {
  font-family: Inter;
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
  letter-spacing: 0px;
  color: var(--brand-black);
}

h3 {
  font-family: Inter;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 0px;
  color: var(--brand-black);
}

h4 {
  font-family: Inter;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: 0px;
  color: var(--brand-black);
}

h5 {
  font-family: Inter;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0px;
  color: var(--brand-black);
}

h6 {
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0px;
  color: var(--brand-black);
}

h7 {
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0px;
  color: var(--brand-black);
}

body {
    font-family: Inter;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    color: var(--brand-black);
}

nav .nextra-scrollbar .nx-text-primary-600 {
    color: #8C0082; /* Fallback color */
    background: var(--gradient-2, linear-gradient(99deg, #FFC500 -44.02%, #DC2223 15.24%, #720096 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px; /* 161.538% */
}

nav .nextra-scrollbar {
    font-size: 13px;
    color: var(--base-gray, #646265);
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: 21px; /* 161.538% */
}

.nextra-sidebar-container .active > a {
    border-radius: 4px;
    background: linear-gradient(104deg, rgba(255, 197, 0, 0.12) 0%, rgba(220, 34, 35, 0.12) 41.15%, rgba(114, 0, 150, 0.12) 100%);
    color: var(--brand-black, #231F20);
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}

.nextra-card:hover {
    border-radius: 4px;
    border: 1px solid var(--silver-gray, #E6E6E6);
    background: linear-gradient(104deg, rgba(255, 197, 0, 0.20) 0%, rgba(220, 34, 35, 0.20) 41.15%, rgba(114, 0, 150, 0.20) 100%);
}

.nextra-code-block pre {
  background-color: #F9F9F9 !important;
}

.nextra-toc, 
.nextra-toc * {
    font-weight: 500 !important;
}

/* Styles for the footer */
footer {
  flex-shrink: 0;
  background: var(--background-gray, #F9F9F9);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 60px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.external-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  text-decoration: none; 
}

.external-link-text {
  margin-right: 8px;
}

footer .column-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

footer .column-title {
  color: var(--brand-black, #231F20);
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
  margin-bottom: 55px !important;
}

.custom-copyright {
  flex-shrink: 0;
  background: var(--background-gray, #F9F9F9);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  color: var(--base-gray, #646265);
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-top: 0.5px solid #BAB8BB;
}

