@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-main-text: #231f20;
  --secondary-text: #646265;
}

body {
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0px;
  color: var(--secondary-text);
}

article a,
article a:visited,
article a:hover,
article a:active {
  color: #8c0082 !important;
}

.dark article a,
.dark article a:visited,
.dark article a:hover,
.dark article a:active {
  color: #F26C00 !important;
}

h1,
h3 {
  font-weight: 600;
}

h2 {
  font-weight: 400;
}

h4,
h5,
h6,
h7 {
  font-weight: 500;
}

h1 {
  font-size: 48px;
  line-height: 58px;
}

h2 {
  font-size: 32px;
  line-height: 38px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}

h5,
h6,
h7 {
  font-size: 18px;
  line-height: 24px;
}

nav .nextra-scrollbar .nx-text-primary-600 {
  color: #8c0082; /* Fallback color */
  background: var(
    --gradient-2,
    linear-gradient(99deg, #ffc500 -44.02%, #dc2223 15.24%, #720096 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 13px;
  font-weight: 600;
  line-height: 21px; /* 161.538% */
}

nav .nextra-scrollbar {
  font-size: 13px;
  color: var(--secondary-text);
  font-weight: 600;
  line-height: 21px; /* 161.538% */
}

.nextra-sidebar-container .active > a {
  border-radius: 4px;
  background: linear-gradient(
    104deg,
    rgba(255, 197, 0, 0.12) 0%,
    rgba(220, 34, 35, 0.12) 41.15%,
    rgba(114, 0, 150, 0.12) 100%
  );
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}

.nextra-card:hover {
  border-radius: 4px;
  border: 1px solid var(--silver-gray, #e6e6e6);
  background: linear-gradient(
    104deg,
    rgba(255, 197, 0, 0.2) 0%,
    rgba(220, 34, 35, 0.2) 41.15%,
    rgba(114, 0, 150, 0.2) 100%
  );
}

.nextra-code-block pre {
  background-color: #f9f9f9 !important;
}

.nextra-toc,
.nextra-toc * {
  font-weight: 500 !important;
}

.external-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}

.external-link-text {
  margin-right: 8px;
}

.dark\:nx-bg-dark {
  background-color: #231F20 !important;
}

.dark body {
  background-color: #231F20 !important;
}