@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-black: #231F20;
  --dark-gray: #3E323F; 
  --base-gray: #646265;
  --ash-gray: #BAB8BB;
  --silver-gray: #E6E6E6;
  --background-gray: #F9F9F9;
  --success-green: #19AF66;
  --brand-red: #D22;
  --brand-orange: #FB6E00;
  --brand-yellow: #FFC500;
  --orange-light8: #FFF4EB;
  --brand-purple: #8C0082;
  --mid-purple: #720096;
  --dark-purple: #5B0078;
  --primary-gradient: linear-gradient(104deg, #FFC500 0.85%, #DC2223 41.65%, #720096 100%);
  --secondary-gradient: linear-gradient(328deg, #FB6E00 0%, #FFC500 100%);
}

/* Base body styles */
body {
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0px;
  color: var(--base-gray);
}

/* Link styles for articles */
article a,
article a:visited,
article a:hover,
article a:active {
  color: var(--brand-purple) !important;
}

/* Link styles for articles in dark mode */
.dark article a,
.dark article a:visited,
.dark article a:hover,
.dark article a:active {
  background: var(--secondary-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none !important; 
}

.dark .nextra-cards .nextra-card,
.dark .nextra-cards .nextra-card:visited,
.dark .nextra-cards .nextra-card:hover,
.dark .nextra-cards .nextra-card:active {
  background: none !important;
  background-clip: unset !important;
  -webkit-background-clip: unset !important;
  -webkit-text-fill-color: initial !important;
}

/* Heading weights */
h1, h3 {
  font-weight: 600;
}
h2 {
  font-weight: 400;
}
h4, h5, h6, h7 {
  font-weight: 500;
}

/* Heading sizes */
h1 {
  font-size: 48px;
  line-height: 58px;
}
h2 {
  font-size: 32px;
  line-height: 38px;
}
h3 {
  font-size: 24px;
  line-height: 32px;
}
h4 {
  font-size: 20px;
  line-height: 28px;
}
h5, h6, h7 {
  font-size: 18px;
  line-height: 24px;
}

/* Sidebar styles */
nav .nextra-scrollbar .nx-text-primary-600 {
  color: var(--brand-purple);
  background: var(--primary-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 13px;
  font-weight: 600;
  line-height: 21px; /* 161.538% */
}

/* Sidebar styles for dark mode */
.dark nav .nextra-scrollbar .nx-text-primary-600 {
  color: #FB6E00;
  background: var(--secondary-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 13px;
  font-weight: 600;
  line-height: 21px; /* 161.538% */
}

/* Sidebar font styles */
nav .nextra-scrollbar {
  font-size: 13px;
  color: var(--base-gray);
  font-weight: 600;
  line-height: 21px;
}

/* Sidebar active link styles */
.nextra-sidebar-container .active > a {
  border-radius: 4px;
  background: linear-gradient(
    104deg,
    rgba(255, 197, 0, 0.12) 0%,
    rgba(220, 34, 35, 0.12) 41.15%,
    rgba(114, 0, 150, 0.12) 100%
  );
  color: var(--brand-black);
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}

/* Sidebar active link styles for dark mode */
.dark .nextra-sidebar-container .active > a {
  background: var(--base-gray);
  color: var(--background-gray);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
}

/* Last sidebar element styles for dark mode */
.dark .nextra-menu-desktop > :last-child,
.dark .nextra-menu-mobile > :last-child {
  background-color: #646265;
  color: #F9F9F9;
  border-radius: 5px;
}

/* Last sidebar element styles for light mode */
.light .nextra-menu-desktop > :last-child,
.light .nextra-menu-mobile > :last-child {
  background-color: #3A3536;
  border-radius: 5px;
}

/* Last sidebar element link styles */
.nextra-menu-desktop > :last-child > a,
.nextra-menu-desktop > .active:last-child > a,
.nextra-menu-mobile > :last-child > a,
.nextra-menu-mobile > .active:last-child > a {
  background: none;
  color: #F9F9F9!important;
  font-size: 0;
}

.nextra-menu-desktop > :last-child > a:after,
.nextra-menu-mobile > :last-child > a:after {
  width: 100%;
  text-align: center;
  font-size: 13px;
  content: 'What\'s coming next?';
}

/* Card hover styles */
.nextra-cards .nextra-card:hover {
  border-radius: 4px;
  border: 1px solid var(--silver-gray);
  background: linear-gradient(
    104deg,
    rgba(255, 197, 0, 0.2) 0%,
    rgba(220, 34, 35, 0.2) 41.15%,
    rgba(114, 0, 150, 0.2) 100%
  );
}

/* Card styles for dark mode */
.dark .nextra-cards .nextra-card {
  background-color: #3A3536 !important;
}
.dark .nextra-cards .nextra-card:hover {
  border-radius: 4px;
  background: var(--base-gray) none !important;
}

/* Code block styles */
.nextra-code-block pre {
  background-color: var(--background-gray) !important;
}
html.dark .nextra-code-block pre {
  background-color: #3A3536 !important;
}

/* TOC font weight */
.nextra-toc, .nextra-toc * {
  font-weight: 500 !important;
}

/* External link styles */
.external-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}
.external-link-text {
  margin-right: 8px;
}

/* Base dark mode styles */
html.dark body {
  background-color: var(--brand-black) !important;
}
html.dark div.nx-sticky.nx-bottom-0 {
  background-color: var(--brand-black) !important;
}
html.dark div.nextra-nav-container {
  background-color: var(--brand-black) !important;
}
.dark .nx-sticky {
  box-shadow: none !important;
}

/* Center numbers in steps */
.nextra-steps h3::before {
    line-height: 25px;
}

/* Breadcrumb link styles in dark mode */
.dark .nextra-breadcrumb a,
.dark .nextra-breadcrumb a:visited,
.dark .nextra-breadcrumb a:hover,
.dark .nextra-breadcrumb a:active {
  background: none !important;
  -webkit-text-fill-color: var(--ash-gray) !important; 
}